body {
  background-image: url(background-image.png);

  font-family: "LFT Etica", arial, sans-serif;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 150px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.App-footer {
  text-align: center;
  font-size: 12px;
  opacity: 45%;
  font-weight: 100;
  margin: 30px 0;
}
